<div class="div-padding">
  <div>
    <app-user-collapse-component [user]="userToUpdate" [(show)]="showForm" (close)="showForm = !showForm">
    </app-user-collapse-component>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">LastName</th>
          <th scope="col">Email</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users, let i = index;">
          <th>{{ i + 1 }}</th>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td><button type="submit" class="btn btn-primary" (click)="edit(user)">Edit</button></td>
          <td><button type="submit" class="btn btn-danger" (click)="delete(user.id)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
